extends layout
block content
  h1= title
  p Welcome to the toasted pug
  div(class="container-fluid")
        div(class="row")
            -
                let toasted = [
                    {
                        "Itemname": "Toasted Garlic Bread",
                        "Quantity": 20,
                        "price": "Eight USD"
                    },
                    {
                        "Itemname": "French Toast",
                        "Quantity": 40,
                        "price": "Ten USD"
                    },
                    {
                        "Itemname": "Toasted Grilled Cheese Sandwich",
                        "Quantity": 1,
                        "price": "Ten USD"
                    },                   
                ]
            each v,index in toasted
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Itemname}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Quantity}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }

